/* Header font */
@font-face {
    font-family: 'DmSerifDisplay';
    src: url('fonts/webfontkit-20221014-183925/dmserifdisplay-regular-webfont.woff') format('woff');
}
/* Body font (has variability) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/webfontkit-20221014-183456/poppins-thin-webfont.woff') format ("woff");
}

/* text properties */
.title { 
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 5pt;
    text-align: left;
}

h3 {
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 5pt;
    text-align: right;
}

/* menu bar, everything on one line */
.homepage, .title {
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0
}


/* styles, decoration, color */

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}



/* Gallery Page */
.Gallery {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 10pt;
    text-align: center;
}

.titleG {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 5pt;
    text-align: left;
}
.titleG, .homepageG {
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0
}


/* About me page */
.AboutMe {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 10pt;
    text-align: center;
}

p.about {
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 8pt;
    text-align: center;
}
.titleA {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 5pt;
    text-align: left;
}

.titleA, .homepageA {
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0
}


/* Contact Page */
.Contact {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 10pt;
    text-align: center;
}

p.Contact {
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 8pt;
    text-align: center;
}

.titleC {
    font-family: 'DmSerifDisplay';
    font-weight: bolder;
    font-size: 5pt;
    text-align: left;
}

.titleC, .homepageC {
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0
}