/* Header font */
@font-face {
    font-family: 'Barrio';
    src: url('fonts/webfontkit-20221109-160210/barrio-regular-webfont.woff') format('woff');
}

/* Body font (has variability) */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/webfontkit-20221014-183456/poppins-thin-webfont.woff') format ('woff');
}

/* colors */
:root {
    --color-screen: #E8E6EE;
    --color-text: #C22424;
    --color-shadow: #F2A3FF;

    --background: var(--color-screen);
    --text: var(--color-text);
    --shadow: var(--color-shadow);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    margin: 1rem 1rem;
    padding: .5rem;
}

/* text properties */
.title { 
    display: flex;
    font-family: 'Barrio';
    font-weight: bolder;
    font-size: 5pt;
    text-align: left;
    margin: 1rem 1rem;
    padding: 3rem
}

.container {
    display: flex;
    flex-direction: row;
    width: 375px;
}

/*img.logo{
    display: flex;
    justify-content: flex-start;
}
img.menubar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}*/

.wrapper {
    display: flex;
    justify-content: center;
}

.box {
    width: 20rem;
    height: 40rem;
    border: 1px solid var(--color-shadow);
}

.pink {
    background: #E8E6EE;
}

/* menu stye */
ul.menu li {
    display: inline-block;
    color: var(--color-shadow);
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 7pt;
    list-style: none;
    padding: .5rem;
}

ul.menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 1rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
}

/* contact links */
ul.contact li {
    display: inline-block;
    color: var(--color-shadow);
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 7pt;
    list-style: none;
    padding: .5rem;
}

ul.contact {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 1rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
}


/* menu bar, everything on one line */
.homepage, .title {
    display: inline-block;
    width: 23%;
    height: 1.25rem;
    margin: 0;
    padding: 0;
}

/* unvisited link */
a:link {
    color: var(--color-shadow);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--color-shadow);
    text-decoration: none;
}


/* headers */
.Gallery, .About, .Contact {
    color: var(--color-text);
    font-family: 'Barrio';
    font-weight: bolder;
    font-size: 10pt;
    text-align: center;
    text-shadow: -3px 0px var(--color-shadow);
}

h2 {
    margin: .5rem .5rem;
    padding: .5rem .5rem;
}

/* paragraphs on pages */
p.about {
    color: var(--color-text);
    font-family: 'Poppins';
    font-weight: 450; 
    font-size: 8pt;
    text-align: center;
    text-shadow: -1px 0px var(--color-shadow);
    line-height: 1.7;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}

/*images*/
img.papersource, img.holidaycollection, img.sparkcreativity, img.p1, img.p2, img.p3, img.p4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    margin: 2rem;
}